<div class="container container-project">
  <!-- view-project -->
  <!-- Artscape -->
  <div class="card-project"> <!-- Project Card -->
    <a class="card-project-img"  href="http://www.artscapephotos.com" target="_blank">
      <img src="/img/artscape.jpg"/>
    </a>
    <div class="card-project-text">
      <h3>Artscape Photos</h3>
      <p>
        Role: Web Producer, Web Admin<br />
        Freelance WordPress project.  Worked with We Fix Ugly for online photography
        portfolio.
      </p>
      <a href="http://www.artscapephotos.com" target="_blank">Click to Visit</a>
    </div>
  </div> <!-- End Card -->
  <!-- Earth Healer -->
  <div class="card-project"> <!-- Project Card -->
    <a class="card-project-img"  href="http://www.artscapephotos.com" target="_blank">
      <img src="/img/earthhealer.jpg"/>
    </a>
    <div class="card-project-text">
      <h3>Earth Healer</h3>
      <p>
        Role: Web Producer, Web Admin <br />
        Freelance WordPress project with We Fix Ugly.
      </p>
      <a href="http://www.artscapephotos.com" target="_blank">Click to Visit</a>
    </div>
  </div> <!-- End Card -->

  <!-- <div class="card-project">  Project Card
    <a class="card-project-img" href="{{project.url}}">
      <img src="{{project.img}}"/>
    </a>
    <div class="card-project-text">
      <h3>{{project.title}}</h3>
      <p>
        {{project.description}}Project Description: Lorum Herpsum Derpsum Blerslaplurr Lorum Herpsum Derpsum
        Blerslaplurr Lorum Herpsum Derpsum Blerslaplurr Lorum Herpsum Derpsum Blerslaplurr
      </p>
      <a href="{{project.url}}">Click to Visit</a>
    </div>
  </div>    End Card -->

</div>
