<div class="container">
  <!-- view-project -->
  <h1>This is a list of my projects</h1>
  <div class="container card-project">
    <a class="card-project-img" href="{{project.url}}">
      <div class="card-project-image" style="background-image: url({{project.imageUrl}});"></div>
    </a>
    <div class="card-project-text">
      <h3>{{project.title}}</h3>
      <p>
        {{project.description}}Project Description: Lorum Herpsum Derpsum Blerslaplurr Lorum Herpsum Derpsum
        Blerslaplurr Lorum Herpsum Derpsum Blerslaplurr Lorum Herpsum Derpsum Blerslaplurr
      </p>
      <a href="{{project.url}}">Click to Visit</a>
    </div>
  </div>

  <!-- Notes -->
  <!--
  <h2>WordPress Projects</h2>
  view-project
  card_project
  card-project-img
  card-project-text
                h3
                p
                a -->
</div>
