<content>
  <div class="container">
    <h1>Hello</h1>
    <p>
      I'm currently looking for work! Message me if you're interested.
    </p>
    <p>
      Welcome to my webpage. I'm a web developer based in Seattle, Washington.
      My strengths lie in using the MEAN stack to create web applications. I also
      create WordPress sites.  Here you can find a collection of web projects
      that I've done, my experience, and a way to contact me.
    </p>
    <p>
      I graduated from Western Washington University with a degree in Management
      Information Systems and most recently commpleted the Code Fellows JavaScript
      401 Development course.
    </p>
    <img src="/img/GitHub-Mark-32px.png" alt="" />
  </div>
</content>
