<div class="container-fluid">
  <div class="container">
    <div class="social-bar">
      <a href="https://github.com/ricecreamdude">
        <div class="social-icon social-github"></div>
      </a>
      <a href="https://www.linkedin.com/in/joshua-ho-80b6a251">
        <div class="social-icon social-linkedin"></div>
      </a>
    </div>
    <div class="footer-text">
      Last Update: 5/2/2016 <br/>
      Technologies Used: Angular.js, Twitter Bootstrap, Node.js, Angular.js <br />
      Hosted on AWS EC2
    </div>
  </div>
</div>
